.container {
  width: 100%;
  display: grid;
  place-items: center;
}

.arraycontainer {
  padding-top: 5px;
  padding-left: 50px;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.arrayelement {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.sectioncontainer {
  position: absolute;
  max-width: 1000px;
  left: 30%;
  border: 2px solid rgba(13, 110, 253, 255);
}
